Repository windseeker1111/FlowForge: changes, and which pre-commit hooks are due for each by the changed paths.
All: version-sync, pytest, eslint, typecheck

version-sync:
  name: Version Sync
  entry: bash
  args:
  - -c
  ...

pytest:
  name: Python Tests
  entry: bash
  args:
  - -c
  ...

eslint:
  name: ESLint
  entry: bash -c 'cd apps/frontend && npm run lint'
  language: system
  pass_filenames: false

typecheck:
  name: TypeScript Check
  entry: bash -c 'cd apps/frontend && npm run typecheck'
  language: system
  pass_filenames: false

fix(analyzer): move Swift detection before Ruby detection (#401)
  apps/backend/analysis/analyzers/framework_analyzer.py
Due: pytest

ci: remove conventional commits PR title validation workflow
  .github/workflows/quality-commit-lint.yml
Due: none

fix(kanban): add worktree cleanup to stage-only 'already merged' path (fixes #243)
  apps/frontend/src/main/ipc-handlers/task/worktree-handlers.ts
Due: eslint, typecheck

fix: change hardcoded Opus defaults to Sonnet (fix #433) (#633)
  apps/backend/cli/utils.py
  apps/backend/ideation/config.py
  apps/backend/ideation/generator.py
  apps/backend/ideation/runner.py
  apps/backend/ideation/types.py
  apps/backend/phase_config.py
  apps/backend/runners/ideation_runner.py
  apps/backend/runners/roadmap/models.py
  apps/backend/runners/roadmap/orchestrator.py
  apps/backend/runners/roadmap_runner.py
Due: pytest

fix(mcp): use shell mode for Windows command spawning (#572)
  apps/frontend/src/main/ipc-handlers/mcp-handlers.ts
Due: eslint, typecheck

fix windows issue
  apps/backend/agents/utils.py
  apps/backend/analysis/insight_extractor.py
  apps/backend/cli/workspace_commands.py
  apps/backend/core/auth.py
  apps/backend/core/git_bash.py
  apps/backend/core/workspace.py
  apps/backend/core/workspace/git_utils.py
  apps/backend/core/workspace/setup.py
  apps/backend/core/worktree.py
  apps/backend/merge/file_evolution/baseline_capture.py
  apps/backend/merge/file_evolution/modification_tracker.py
  apps/backend/merge/git_utils.py
  apps/backend/merge/timeline_git.py
  apps/backend/runners/github/services/parallel_orchestrator_reviewer.py
  apps/backend/runners/spec_runner.py
  apps/backend/security/scan_secrets.py
  apps/backend/services/recovery.py
  apps/frontend/src/main/cli-tool-manager.ts
  apps/frontend/src/shared/types/cli.ts
Due: pytest, eslint, typecheck

show toast running in bg
  apps/frontend/src/renderer/components/task-detail/TaskDetailModal.tsx
Due: eslint, typecheck

fix(startup): prevent app freeze by making Claude CLI detection non-blocking (#680 regression) (#720)
  apps/frontend/src/main/__tests__/cli-tool-manager.test.ts
  apps/frontend/src/main/__tests__/env-handlers-claude-cli.test.ts
  apps/frontend/src/main/claude-cli-utils.ts
  apps/frontend/src/main/claude-profile-manager.ts
  apps/frontend/src/main/claude-profile/profile-storage.ts
  apps/frontend/src/main/cli-tool-manager.ts
  apps/frontend/src/main/env-utils.ts
  apps/frontend/src/main/index.ts
  apps/frontend/src/main/ipc-handlers/env-handlers.ts
  apps/frontend/src/main/ipc-handlers/settings-handlers.ts
  apps/frontend/src/main/ipc-handlers/terminal-handlers.ts
  apps/frontend/src/main/terminal/__tests__/claude-integration-handler.test.ts
  apps/frontend/src/main/terminal/claude-integration-handler.ts
  apps/frontend/src/main/terminal/terminal-manager.ts
  apps/frontend/src/main/utils/windows-paths.ts
  package-lock.json
Due: eslint, typecheck

fix(insights): await async sendMessage to prevent race condition (#613) (#773)
  .gitignore
  apps/frontend/src/main/ipc-handlers/insights-handlers.ts
Due: eslint, typecheck

fix(github): use selectedPR from hook to restore Files changed list (#822)
  apps/frontend/src/main/ipc-handlers/github/pr-handlers.ts
  apps/frontend/src/renderer/components/GitHubIssues.tsx
  apps/frontend/src/renderer/components/GitLabIssues.tsx
  apps/frontend/src/renderer/components/github-issues/hooks/useGitHubIssues.ts
  apps/frontend/src/renderer/components/github-prs/GitHubPRs.tsx
  apps/frontend/src/renderer/components/github-prs/hooks/useGitHubPRs.ts
  apps/frontend/src/renderer/components/gitlab-issues/hooks/useGitLabIssues.ts
Due: eslint, typecheck

enhance a bit and fix tests
  .github/workflows/pr-labeler.yml
  .github/workflows/pr-status-gate.yml
  apps/frontend/src/__tests__/setup.ts
  apps/frontend/src/renderer/components/terminal/__tests__/useXterm.test.ts
Due: eslint, typecheck

key fixes
  .github/workflows/pr-labeler.yml
  .github/workflows/pr-status-gate.yml
Due: none

auto-claude: subtask-5-1 - Configure structlog with context binding for correlation IDs
  apps/backend/runners/github/services/auto_pr_review_orchestrator.py
Due: pytest

feat(auto-pr-review): integrate AI review into orchestrator loop
  apps/backend/runners/github/models/__init__.py
  apps/backend/runners/github/models/telemetry.py
  apps/backend/runners/github/models_pkg/pr_review_state.py
  apps/backend/runners/github/runner.py
  apps/backend/runners/github/services/auto_pr_review_orchestrator.py
  apps/backend/runners/github/services/autofix_processor.py
  apps/backend/runners/github/services/pr_check_waiter.py
  apps/frontend/src/main/ipc-handlers/github/autofix-handlers.ts
  apps/frontend/src/renderer/components/github-issues/components/AutoPRReviewProgressCard.tsx
  apps/frontend/src/renderer/components/github-issues/hooks/useAutoPRReview.ts
  apps/frontend/src/renderer/components/github-prs/components/PRDetail.tsx
  apps/frontend/src/shared/constants/config.ts
  apps/frontend/src/shared/i18n/locales/en/github.json
  apps/frontend/src/shared/i18n/locales/fr/github.json
  apps/frontend/src/shared/types/settings.ts
Due: pytest, eslint, typecheck

fix: auto-fix PR review findings (iteration 2)
  apps/backend/runners/github/runner.py
  apps/backend/runners/github/services/auto_pr_review_orchestrator.py
  apps/frontend/src/main/ipc-handlers/github/autofix-handlers.ts
  apps/frontend/src/renderer/components/github-issues/hooks/useAutoPRReview.ts
Due: pytest, eslint, typecheck

fix(github-prs): show running review state when switching back to PR with in-progress review (ACS-200) (#890)
  apps/frontend/src/renderer/components/github-prs/GitHubPRs.tsx
  apps/frontend/src/renderer/components/github-prs/components/PRDetail.tsx
  apps/frontend/src/renderer/components/github-prs/components/ReviewStatusTree.tsx
  apps/frontend/src/renderer/components/github-prs/components/__tests__/PRDetail.test.tsx
  apps/frontend/src/renderer/components/github-prs/components/__tests__/ReviewStatusTree.test.tsx
  apps/frontend/src/renderer/components/github-prs/hooks/useGitHubPRs.ts
  apps/frontend/src/renderer/stores/github/pr-review-store.ts
  apps/frontend/tsconfig.json
Due: eslint, typecheck

fix(ACS-175): Resolve integrations freeze and improve rate limit handling (#839)
  apps/frontend/src/main/ipc-handlers/terminal-handlers.ts
  apps/frontend/src/main/terminal/pty-manager.ts
  apps/frontend/src/main/terminal/terminal-manager.ts
  apps/frontend/src/renderer/components/RateLimitModal.tsx
  apps/frontend/src/renderer/components/SDKRateLimitModal.tsx
  apps/frontend/src/renderer/components/onboarding/OAuthStep.tsx
  apps/frontend/src/renderer/components/settings/IntegrationSettings.tsx
  apps/frontend/src/shared/i18n/locales/en/common.json
  apps/frontend/src/shared/i18n/locales/en/onboarding.json
  apps/frontend/src/shared/i18n/locales/en/settings.json
  apps/frontend/src/shared/i18n/locales/fr/common.json
  apps/frontend/src/shared/i18n/locales/fr/onboarding.json
  apps/frontend/src/shared/i18n/locales/fr/settings.json
Due: eslint, typecheck

fix(frontend): prevent "Render frame was disposed" crash (ACS-211) (#918)
  apps/frontend/src/main/__tests__/ipc-handlers.test.ts
  apps/frontend/src/main/__tests__/utils.test.ts
  apps/frontend/src/main/ipc-handlers/agent-events-handlers.ts
  apps/frontend/src/main/ipc-handlers/ideation-handlers.ts
  apps/frontend/src/main/ipc-handlers/ideation/generation-handlers.ts
  apps/frontend/src/main/ipc-handlers/insights-handlers.ts
  apps/frontend/src/main/ipc-handlers/roadmap-handlers.ts
  apps/frontend/src/main/ipc-handlers/utils.ts
Due: eslint, typecheck

docs: update README download links to v2.7.3 (#973)
  README.md
Due: none

feat(frontend): add Claude Code version rollback feature (#983)
  apps/frontend/src/main/ipc-handlers/claude-code-handlers.ts
  apps/frontend/src/preload/api/modules/claude-code-api.ts
  apps/frontend/src/renderer/components/ClaudeCodeStatusBadge.tsx
  apps/frontend/src/renderer/lib/browser-mock.ts
  apps/frontend/src/shared/constants/ipc.ts
  apps/frontend/src/shared/i18n/locales/en/navigation.json
  apps/frontend/src/shared/i18n/locales/fr/navigation.json
  apps/frontend/src/shared/types/cli.ts
  apps/frontend/src/shared/types/ipc.ts
Due: eslint, typecheck

fix(github): resolve circular import issues in context_gatherer and services (#1026)
  apps/backend/runners/github/context_gatherer.py
  apps/backend/runners/github/services/__init__.py
Due: pytest

fix(github-prs): prevent preloading of PRs currently under review (#1006)
  apps/frontend/src/renderer/components/github-prs/hooks/useGitHubPRs.ts
Due: eslint, typecheck

story2.3 - fix code review issues
  apps/backend/methodologies/native/methodology.py
  tests/methodologies/test_native_methodology.py
Due: pytest

story2.4 - implement progress reporting for native runner
  apps/backend/methodologies/native/methodology.py
  apps/backend/methodologies/progress_service.py
  apps/backend/methodologies/protocols.py
  tests/methodologies/test_native_methodology.py
  tests/methodologies/test_progress_service.py
  tests/methodologies/test_protocols.py
Due: pytest

story3.5 - add default methodology to settings
  apps/frontend/src/renderer/__tests__/settings-store-methodology.test.ts
  apps/frontend/src/renderer/components/TaskCreationWizard.tsx
  apps/frontend/src/renderer/components/settings/GeneralSettings.tsx
  apps/frontend/src/shared/i18n/locales/en/settings.json
  apps/frontend/src/shared/i18n/locales/fr/settings.json
  apps/frontend/src/shared/types/settings.ts
Due: eslint, typecheck

fix(runners): correct roadmap import path in roadmap_runner.py (ACS-264) (#1091)
  apps/backend/runners/roadmap_runner.py
Due: pytest

story5.2 - implement checkpoint dialog component for semi-auto mode
  apps/frontend/src/renderer/components/__tests__/CheckpointDialog.test.tsx
  apps/frontend/src/renderer/components/checkpoints/CheckpointDialog.tsx
  apps/frontend/src/renderer/components/checkpoints/index.ts
  apps/frontend/src/renderer/components/checkpoints/types.ts
  apps/frontend/src/shared/i18n/index.ts
  apps/frontend/src/shared/i18n/locales/en/checkpoints.json
  apps/frontend/src/shared/i18n/locales/fr/checkpoints.json
Due: eslint, typecheck

fix(ci): add gate jobs and consolidate linting workflow (#1182)
  .github/workflows/ci.yml
  .github/workflows/lint.yml
Due: none

story5.5 - implement checkpoint revision flow for semi-auto mode
  apps/backend/core/checkpoint/service.py
  apps/frontend/src/renderer/__tests__/checkpoint-store.test.ts
  apps/frontend/src/renderer/components/__tests__/RevisionHistory.test.tsx
  apps/frontend/src/renderer/components/checkpoints/CheckpointDialog.tsx
  apps/frontend/src/renderer/components/checkpoints/RevisionHistory.tsx
  apps/frontend/src/renderer/components/checkpoints/index.ts
  apps/frontend/src/renderer/components/checkpoints/types.ts
  apps/frontend/src/renderer/hooks/__tests__/useCheckpoint.test.ts
  apps/frontend/src/renderer/hooks/useCheckpoint.ts
  apps/frontend/src/renderer/stores/checkpoint-store.ts
  apps/frontend/src/shared/i18n/locales/en/checkpoints.json
  apps/frontend/src/shared/i18n/locales/fr/checkpoints.json
Due: pytest, eslint, typecheck

Add Update Branch Button to PR Detail View (#1242)
  .gitignore
  apps/frontend/src/main/ipc-handlers/github/pr-handlers.ts
  apps/frontend/src/preload/api/modules/github-api.ts
  apps/frontend/src/renderer/components/github-prs/components/PRDetail.tsx
  apps/frontend/src/renderer/lib/browser-mock.ts
  apps/frontend/src/shared/constants/ipc.ts
  apps/frontend/src/shared/i18n/locales/en/common.json
  apps/frontend/src/shared/i18n/locales/fr/common.json
Due: eslint, typecheck

fix(terminal): add require polyfill for ESM/Sentry compatibility (#1275)
  apps/frontend/src/main/index.ts
Due: eslint, typecheck

feat(workflows): add gate jobs for branch protection
  .github/workflows/ci.yml
  .github/workflows/lint.yml
  .github/workflows/quality-security.yml
Due: none

feat(auth): add onboarding complete detection and auto-close
  apps/frontend/src/main/terminal/claude-integration-handler.ts
  apps/frontend/src/main/terminal/output-parser.ts
  apps/frontend/src/main/terminal/terminal-event-handler.ts
  apps/frontend/src/main/terminal/types.ts
  apps/frontend/src/preload/api/terminal-api.ts
  apps/frontend/src/renderer/components/onboarding/OAuthStep.tsx
  apps/frontend/src/renderer/components/settings/AuthTerminal.tsx
  apps/frontend/src/renderer/components/settings/IntegrationSettings.tsx
  apps/frontend/src/renderer/lib/mocks/terminal-mock.ts
  apps/frontend/src/shared/constants/ipc.ts
  apps/frontend/src/shared/i18n/locales/en/common.json
  apps/frontend/src/shared/i18n/locales/fr/common.json
  apps/frontend/src/shared/types/ipc.ts
Due: eslint, typecheck

fix: address follow-up PR review findings (6 issues)
  apps/backend/core/auth.py
  apps/frontend/src/main/claude-profile/session-utils.ts
  apps/frontend/src/main/ipc-handlers/claude-code-handlers.ts
  apps/frontend/src/main/ipc-handlers/terminal-handlers.ts
  apps/frontend/src/main/terminal/claude-integration-handler.ts
  apps/frontend/src/main/utils/config-path-validator.ts
Due: pytest, eslint, typecheck

feat: add Claude Usage view and sidebar widget
  apps/frontend/src/renderer/App.tsx
  apps/frontend/src/renderer/components/ClaudeUsageMini.tsx
  apps/frontend/src/renderer/components/ClaudeUsageView.tsx
  apps/frontend/src/renderer/components/Sidebar.tsx
  apps/frontend/src/renderer/components/ui/progress.tsx
  apps/frontend/src/renderer/contexts/ClaudeUsageContext.tsx
  apps/frontend/src/shared/i18n/locales/en/navigation.json
  package-lock.json
Due: eslint, typecheck

fix: make ClaudeUsageMini always visible in sidebar
  apps/frontend/src/renderer/components/ClaudeUsageMini.tsx
Due: eslint, typecheck

feat: collapsible sidebar with tooltips and branding enhancements
  apps/frontend/src/renderer/components/ClaudeUsageMini.tsx
  apps/frontend/src/renderer/components/Sidebar.tsx
  apps/frontend/src/renderer/index.html
Due: eslint, typecheck

Path conditions:
  version-sync: any of: ^package\.json$
  pytest: any of: ^(apps/backend/.*\.py$|tests/.*\.py$)
  eslint: any of: ^apps/frontend/.*\.(ts|tsx|js|jsx)$
  typecheck: any of: ^apps/frontend/.*\.(ts|tsx)$
